*,
 html {
   margin: 0;
   padding: 0;
}

body {
   background-color: #fff; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.navbar-wapper {
    background-color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu-link {
    text-decoration: none;
    color: #575757;
    padding: 5px 10px;
}

.common-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #1D4ED8;
    border: none;
    border-radius: 5px;
}

.banner {
    background-image: url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px 0 80px 0;
}

.banner-content {
    text-align: center;
    color: #fff;
    max-width: 780px;
    margin: 0 auto;
}

.banner-title {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
}

.banner-description {
    color: #fff;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 160px;
}